@model ReportWorkTime.Models.GoingOut
@{
    ViewData["Title"] = "Излизане";
}
@section scripts {
    <script>
        $(document).ready(function () {
            $('#personalCheckbox').change(function () {
                if ($(this).is(':checked')) {
                    $('#Reason').val('Лично');
                    $('#Reason').prop('readonly', true);
                } else {
                    $('#Reason').val('');
                    $('#Reason').prop('readonly', false);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#select-option").change(function () {
                var selectedValue = $(this).val();
                if (selectedValue == "1" || selectedValue == "2" || selectedValue == "3" || selectedValue == "4") {
                    $("#additional-field").show();
                } else {
                    $("#additional-field").hide();
                }
            });
        });
    </script>
    <script>
        $(document).ready(function() {
            $('#dateOfAbsenceStart').change(function() {
                $('#dateOfAbsenceEnd').val($(this).val());
            });
    
            $('#dateOfAbsenceEnd').change(function() {
                $('#dateOfAbsenceStart').val($(this).val());
            });
        });
    </script>
}

<br />
<div class="col-5">
    <h4>Служите: @ViewBag.firstName @ViewBag.lastName</h4>
</div>
<br />
<div asp-validation-summary="All" class="text-danger"></div>

<form method="post">

    <p>Начало</p>
    <div class="col-12 border row p-2 m-2">
        <div class="form-group">
            <label asp-for="DateOfAbsence">Дата:</label>
            <input asp-for="DateOfAbsence" class="form-control" id="dateOfAbsenceStart" />
            <span asp-validation-for="DateOfAbsence" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="StartAbsence">Начало-Час:</label>
            <input asp-for="StartAbsence" class="form-control" />
            <span asp-validation-for="StartAbsence" class="text-danger"></span>
        </div>
    </div>
    <p>Край</p>
    <div class="col-12 border row p-2 m-2">
        <div class="form-group">
            <label asp-for="DateOfAbsence">Дата:</label>
            <input asp-for="DateOfAbsence" class="form-control" id="dateOfAbsenceEnd" />
            <span asp-validation-for="DateOfAbsence" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EndAbsence">Край-Час:</label>
            <input asp-for="EndAbsence" class="form-control" />
            <span asp-validation-for="EndAbsence" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <input asp-for="EmpUserId" type="hidden" value="@Model.EmpUserId" />
    </div>
    <div class="form-group">
        <label asp-for="TypeOfDay"></label>
        <select asp-for="TypeOfDay" class="form-select" id="select-option">
             <option value="0">Изберете:</option>
             <option value="1">Командировка</option>
             <option value="2">Платен отпуск</option>
             <option value="3">Неплатен отпуск</option>
             <option value="4">Болнични</option>
             @*<option value="5">Край на работен ден</option>*@
        </select>
    </div>
    <div class="form-group" id="additional-field" style="display: none;">
        <label for="additional-input">Брой дни:</label>
        <input asp-for="NumberOfDays" id="additional-input" class="form-control" type="number" />
    </div>

    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="personalCheckbox" />
        <label class="form-check-label" for="personalCheckbox">Лично</label>
    </div>
    <div class="form-group">
        <label asp-for="Reason" class="control-label">Причина:</label>
        <input asp-for="Reason" formnovalidate="formnovalidate" class="form-control" />
        <span asp-validation-for="Reason" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Запази</button>
    <a asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    <a asp-action="Index" asp-controller="WorkTime" asp-route-id="@Model.EmpUserId" class="btn btn-secondary">Затвори</a>
</form>